*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: url("https://umatter.netlify.app/images/backgrounds/home-bg.jpg");
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;


    .container{
        width: 100%;
        height: 100%;
        display: flex;
        @media screen and (max-width:1050px) {
            display: block;
        }
        
        nav{
            width: 100%;
            background-color: #195781;
            position: fixed;
            padding: 15px;
            z-index: 9999;
            display: flex;
            justify-content: space-around;
            display: none;

            @media screen and (max-width:1050px) {
                display: flex;
            }
            .ham{
                width: 30px;
                display: flex;
                justify-content: center;
                /* align-items: center; */
                flex-direction: column;
                gap: 5px;

                @media screen and (max-width:600px) {
                    display: none;
                }

                .one , .three{
                    width: 100%;
                    border: 2px solid #fff;
                }
                .two{
                    width: 60%;
                    border: 2px solid #fff;
                }
            }
            
        }
        .hamburgur{
            width: 50%;
            z-index: 999;
            background-color: #4195E6;
            display: flex;
            flex-direction: column;
            gap: 91px;
            position: fixed;
            top: 60px;
            right: 0;
            display: none;
            transition-duration: 2s;

            

            .home, .music , .scene, .relax , .talk{
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 13px;
                border-radius: 10px;
                width: 100%;

                p{
                    font-size: 1.2rem;
                    letter-spacing: 1.5px;
                    color: #fff;
                    font-weight: 700;
                }
                i{
                    font-size: 20px;
                    color: #fff;
                }
            }
            .home{
                background-color: #DC75D4;
                p , i{
                    color: #082046;
                    
                }

            }
            .music:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .scene:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .relax:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .talk:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
        }
        aside{
            width: 480px;
            height: 100%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            background: linear-gradient(240deg, rgba(58, 85, 118, 0.7) 10%, #2c2e44 70%);
            display: flex;
            flex-direction: column;
            gap: 2rem;
            
            /* display: none; */

            @media screen and (max-width:1050px) {
                display: none;
            }

            img{
                width: 220px;
                margin: 0 auto;
                padding: 40px 0;
            }

            .home, .music , .scene, .relax , .talk{
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 13px;
                border-radius: 10px;
                width: 95%;
                margin:  0 auto;
                text-decoration: none;

                p{
                    font-size: 1.2rem;
                    letter-spacing: 1.5px;
                    color: #fff;
                    font-weight: 700;
                }
                i{
                    font-size: 20px;
                    color: #fff;
                }
            }
            .home{
                background-color: #DC75D4;
                p , i{
                    color: #082046;
                    
                }

            }

            
            .music:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .scene:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .relax:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .talk:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            
        }

        main{
            display: flex;
            width: 100%;
            flex-direction:column;
            gap: 2rem;
            padding: 30px;
            
            @media screen and (max-width:1050px) {
                padding: 80px 30px ;
            }
            .box{
                width: 90%;
                margin:  0 auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 30px 0;
                border-radius: 10px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background-color: #53AEE1;

                @media screen and (max-width:600px) {
                    width: 100%;
                }
                

                .name {

                    p{
                        font-size: 2.5rem;
                        color: #fff;
                        font-weight: 500;

                        @media screen and (max-width:700px) {
                            font-size: 2rem;
                        }
                        @media screen and (max-width:400px) {
                            font-size: 1.5rem;
                        }
                        @media screen and (max-width:320px) {
                            font-size: 1rem;
                        }
                    }
                    h2{
                        font-size: 2.2rem;
                        font-weight: 900;
                        color: #fff;

                        @media screen and (max-width:700px) {
                            font-size: 1.8rem;
                        }
                        
                        @media screen and (max-width:400px) {
                            font-size: 1.3rem;
                            text-align: center;
                        }
                        @media screen and (max-width:320px) {
                            font-size: 1rem;
                        }
                    }
                }
                img{
                    @media screen and (max-width:800px) {
                        width: 100px;
                    }
                    @media screen and (max-width:600px) {
                        display: none;
                    }
                }
            }

            .matter, .help{
                width: 90%;
                margin:  0 auto;
                /* background-color: #ADD8E6; */
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                border-radius: 10px;
                /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

                @media screen and (max-width:600px) {
                    width: 100%;
                }
                img{
                    cursor: pointer;
                }

                .question{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #88B9E0;
                    padding: 10px;
                    font-weight: 700;
                    font-size: 1.1rem;
                    border-radius: 10px;
                    cursor: pointer;

                    
                }
                .ams{
                    padding: 10px;
                }
            }
        }

        .cards{
            width: 70%;
            margin:  0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
            display: none;
            @media screen and (max-width:1050px) {
                display: flex;
            }

            .card1 , .card2, .card3, .card4{
                width: 220px;
                height: 280px;
                /* border: 2px solid black; */
                position: relative;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
                .info{
                    position: absolute;
                    color: #fff;
                    background-color: rgba(0 0 0 / 50%);
                    padding: 20px 10px;
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    align-items: center;
                    bottom: 0;
                    left: 0;
                }
            }

            .card1:hover , .card2:hover, .card3:hover, .card4:hover{
                animation: car 0.3s linear  1 forwards ;
            }
        }

        footer{
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 15px;
            background: linear-gradient(240deg, rgba(59, 190, 236, 0.3) 10%, rgba(52, 120, 221, 0.4) 100%);
            backdrop-filter: blur(0.5rem);
            display: none;

            @media screen and (max-width:600px) {
                display: flex;
            }

            i{
                font-size: 1.5rem;
                color: #fff;
                border: 2px solid rgba(178, 117, 240);
                padding: 10px;
                border-radius: 50%;
            }
            i:hover{
                background: linear-gradient(190deg, rgb(240, 117, 199), rgba(117, 178, 240));
                cursor: pointer;
            }

            
        }

        
        
    }
}
footer :first-child{
    background: linear-gradient(190deg, rgb(240, 117, 199), rgba(117, 178, 240));
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right bottom, rgba(59, 190, 236, 0.3), rgba(52, 120, 221, 0.3));
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    z-index: -1;
    height: 100%;
    backdrop-filter: blur(3rem);
    background-clip: padding-box;
    position: fixed;
    width: 100vw;
}

@keyframes car {
    0%{
        top: 0;
    }
    100%{
        top: -10px;
    }
}





#loading{
    height: 100vh;
    width: 100%;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #53AEE1;
}

#loading h3 {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    position: relative;
    padding: 1vw 3vw;
}

#loading h3 span{
    color: #53AEE1;
    animation: lightmove 8s linear infinite;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes lightmove {
    0%{
        opacity: 0;
        color: #53AEE1;
    }
    20%{
        opacity: 1;
        color: rgba(255, 255, 255, 0.8);
    }
    
    50%{
        opacity: 0;
        color: #53AEE1;
    }
    100%{
        opacity: 0;
        color: rgba(255, 255, 255, 0.8);
    }
}
