*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: url("https://umatter.netlify.app/images/backgrounds/home-bg.jpg");
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    /* overflow: hidden; */


    .container{
        width: 100%;
        height: 100%;
        display: flex;
        @media screen and (max-width:1050px) {
            display: block;
        }
        
        .noob{
            width: 100%;
            background-color: #195781;
            position: fixed;
            padding: 15px;
            z-index: 9999;
            display: flex;
            justify-content: space-around;
            display: none;

            /* @media screen and (max-width:1050px) {
                display: flex;
            } */
            @media screen and (max-width:600px) {
                display: none;
            }
            .ham{
                width: 30px;
                display: flex;
                justify-content: center;
                /* align-items: center; */
                flex-direction: column;
                gap: 5px;

                @media screen and (max-width:600px) {
                    display: none;
                }

                .one , .three{
                    width: 100%;
                    border: 2px solid #fff;
                }
                .two{
                    width: 60%;
                    border: 2px solid #fff;
                }
            }
            
        }
        .hamburgur{
            width: 50%;
            z-index: 999;
            background-color: #4195E6;
            display: flex;
            flex-direction: column;
            gap: 91px;
            position: fixed;
            top: 60px;
            right: 0;
            display: none;
            transition-duration: 2s;

            

            .home, .music , .scene, .relax , .talk{
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 13px;
                border-radius: 10px;
                width: 100%;

                p{
                    font-size: 1.2rem;
                    letter-spacing: 1.5px;
                    color: #fff;
                    font-weight: 700;
                }
                i{
                    font-size: 20px;
                    color: #fff;
                }
            }
            .home{
                background-color: #DC75D4;
                p , i{
                    color: #082046;
                    
                }

            }
            .music:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .scene:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .relax:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .talk:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
        }
        aside{
            width: 350px;
            height: 100%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            background: linear-gradient(240deg, rgba(58, 85, 118, 0.7) 10%, #2c2e44 70%);
            display: flex;
            flex-direction: column;
            position: fixed;
            gap: 2rem;
            z-index: 999;
            
            /* display: none; */

            @media screen and (max-width:1050px) {
                display: none;
            }

            img{
                width: 220px;
                margin: 0 auto;
                padding: 40px 0;
            }

            .home, .music , .scene, .relax , .talk{
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 13px;
                border-radius: 10px;
                width: 95%;
                margin:  0 auto;
                text-decoration: none;

                p{
                    font-size: 1.2rem;
                    letter-spacing: 1.5px;
                    color: #fff;
                    font-weight: 700;
                }
                i{
                    font-size: 20px;
                    color: #fff;
                }
            }
            .music{
                background-color: #DC75D4;
                p , i{
                    color: #082046;
                    
                }

            }
            .home:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .music:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .scene:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .relax:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            .talk:hover{
                background-color: #DC75D4;
                cursor: pointer;
                p , i {
                    color: #082046;
                }
                i{
                    transition-duration: 1s;
                    transform: scale(1.3);
                }
            }
            
        }

        main{
            display: flex;
            width: calc(100% - 350px);
            flex-direction:column;
            gap: 2rem;
            /* padding: 30px; */
/*             
            @media screen and (max-width:1050px) {
                padding: 80px 30px ;
            } */
        }

        footer{
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 15px;
            background: linear-gradient(240deg, rgba(59, 190, 236, 0.3) 10%, rgba(52, 120, 221, 0.4) 100%);
            backdrop-filter: blur(0.5rem);
            display: none;

            @media screen and (max-width:600px) {
                display: flex;
            }

            i{
                font-size: 1.5rem;
                color: #fff;
                border: 2px solid rgba(178, 117, 240);
                padding: 10px;
                border-radius: 50%;
            }
            i:hover{
                background: linear-gradient(190deg, rgb(240, 117, 199), rgba(117, 178, 240));
                cursor: pointer;
            }

            
        }

        
        
    }
}
footer :first-child{
    background: linear-gradient(190deg, rgb(240, 117, 199), rgba(117, 178, 240));
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right bottom, rgba(59, 190, 236, 0.3), rgba(52, 120, 221, 0.3));
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    z-index: -1;
    height: 100%;
    backdrop-filter: blur(3rem);
    background-clip: padding-box;
    position: fixed;
    width: 100vw;
}

@keyframes car {
    0%{
        top: 0;
    }
    100%{
        top: -10px;
    }
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    /* height: 18vh; */
    display: flex;
    gap: 1.2rem;
    background:linear-gradient(to bottom right, #126daf 40%, #7dc4f4);
    backdrop-filter: blur(1rem);
    z-index: 11;

    label{
        font-size: 1.9rem;
        font-weight: 900;
        color: #fff;
    }
    


    @media screen {
        
    }
    #music{
        border: none;
        padding: 8px;
        font-size: 1.2rem;
        outline: none;
        border-radius: 10px;
        background-color:#fff;
        color:#2C4160;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    }

}


.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: 350px;
    top: 20px;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5.5rem;

    @media screen and (max-width:1050px) {
        position: relative;
        padding: 0;
        left: 0;
        width: 100%;
    }

    .card{
        width: 250px;
        height: 300px;
        position: relative;
        cursor: pointer;
        border-radius: 15px;
        box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
        transition: 0.6s;
        

        .card-img{
            width: 250px;
            height: 300px;
            position: relative;
            cursor: pointer;
            border-radius: 15px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                border-radius: 15px;
                object-fit: cover;
                transition: 0.6s;
            }
        }
        .card-caption{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.4);
            bottom: 0;
            width: 100%;
            color: white;
            padding: 1rem;
            border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
            span{
                font-size: 1.2rem;
            }
        }
    }
    .card:hover{
        box-shadow: 0 1.5rem 3rem rgba(60, 72, 88, 0.5);
        .card-img > img{
            transform: scale(1.2);
        }
    }
}

.music-control{
    
    position: fixed;
    
    background: linear-gradient( to bottom right, rgba(18, 109, 175, 0.7) 40%, rgba(125, 196, 244, 0.3) );
    padding: 0 2rem;
    border-radius: 15px;
    z-index: 999;
    bottom: 0;
    left: 50%;

    @media screen and (max-width:1050px) {
        border-radius: 0;
        left: 0;
        bottom: 0;
    }

    .progress-container{
        position: relative;
        width: 100%;
        height: 6px;
        margin: 10px 2px;
        cursor: pointer;
        background-color: white;
        border-radius: 5px;
        
        .progress{
            width: 0;
            background: linear-gradient(65deg, rgb(178, 117, 240), rgba(240, 117, 138));
            border-radius: 5px;
            height: 95%;
            transition: width 0.1s linear;
        }

    }

    .navigation{
        display: flex;
        /* width: 80vw; */
        width: 100%;
        height: 10vh;
        /* margin-left: 20vw; */
        background: linear-gradient( to bottom right, rgba(18, 109, 175, 0.4) 40%, rgba(125, 196, 244, 0.3) );
        backdrop-filter: blur(1rem);
        z-index: 999;
        transition: opacity 0.3s ease-in;
        border-radius: 15px;

        .navigation-music{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .stop-button{
                color: #db2828;
                /* border-radius: 2px; */
                font-size: 25px;
                cursor: pointer;
                background-color: transparent;
                border: 0;
                transition: 0.3s ease-in all;
                margin-right: 2px;
            }
            .stop-button:hover{
                transform: scale(1.2);
            }

            .volume-container{
                display: flex;
                align-items: center;
                width: 40%;
                margin: 0 2rem;

                #volume_show{
                    font-size: 18px;
                    color: white;
                }

                #volume_icon{
                    margin: 0 1rem;
                    color: white;
                    cursor: pointer;
                }

                #volume{
                    -webkit-appearance: none;
                    height: 5px;
                    width: 80%;
                    border-radius: 6px;
                    outline: none;
                    background-color: #fbbd08;
                }
            }

            .replayBtn{
                background-color: transparent;
                font-size: 25px;
                border: none;
                outline: none;
                border-radius: 50%;
                cursor: pointer;
                padding: 4px;
                transition: 0.3s;
            }

            .replayBtn:hover{
                background: rgba(245, 245, 245, 0.2);
                transform: scale(1.2);
            }

            .crossBtn{
                background-color: #f44336;
                color: white;
                border: none;
                font-size: 20px;
                border-radius: 15px;
                padding: 0.5rem;
                transition: transform 0.3s ease;
                cursor: pointer;
                margin-left: 1rem;
            }
            .crossBtn:hover {
                transform: scale(1.1); /* Slightly enlarge on hover */
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .sidebar{
        display: none;
    }

    .card-container{
        width: 100vw;
    }
    .music-control{
        width: 100vw;
        
    }
}

@media screen and (min-width: 600px) {
    .navbar-mobile{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .card-container{
        top: 0;
        padding: 30px 0;
    }
    .navbar{
        display: none;
    }
    .navbar-mobile{
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        padding: 10px;
        /* top: 0; */
        width: 100%;
        /* height: 12vh; */
        z-index: 999;
        background: linear-gradient(to bottom right, #03385e 40%, #7dc4f4);
        /* backdrop-filter: blur(1.5rem); */

        h2{
            color: #fff;
        }
        .options{
            display: flex; 
            width: 100%;
            /* overflow-x: hidden; */
            overflow-x: scroll;

            ol {
                display: flex;
                list-style: none;
                gap: 1.5rem;
                padding:  0 10px;
                margin: 0;
                justify-content: center;
                white-space: nowrap;
        
                li {
                    cursor: pointer;
                    padding: 10px 15px;
                    background-color: #2a60a2;
                    color: white;
                    border-radius: 6px;
                    transition: background-color 0.3s;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                }
        
                li:hover {
                    background-color: #138bb0;
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
                }
            }
        }
        .options::-webkit-scrollbar {
            display: none;
        }

        
    }
}


.fade-up {
    animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-down {
    animation: fadeInDown 0.6s ease forwards;
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-400px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#loading{
    height: 100vh;
    width: 100%;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #53AEE1;
    z-index: 999999;
}

#loading h3 {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    position: relative;
    padding: 1vw 3vw;
}

#loading h3 span{
    color: rgba(0, 0, 0, 0.0);
    animation: lightmove 4s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes lightmove {
    0%{
        opacity: 0;
        color: rgba(0,0,0,0.0);
    }
    20%{
        opacity: 1;
        color: rgba(255, 255, 255, 0.8);
    }
    
    50%{
        opacity: 0;
        color: rgba(0,0,0,0.0);
    }
    100%{
        opacity: 0;
        color: rgba(0,0,0,0.0);
    }
}