*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #333;

    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        background: url('https://img.freepik.com/premium-photo/international-yoga-day-generative-ai_870262-2363.jpg?w=1060');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;

        nav{
            width: 100%;
            display: flex;
            padding: 10px 20px;
            justify-content: space-between;

            h1{
                font-size: 3rem;
                color: #fff;


                @media screen and (max-width:450px) {
                    font-size: 2rem;
                }
                @media screen and (max-width:320px) {
                    font-size: 1.3rem;
                }
            }

            .crossBtn{
                cursor: pointer;
            }
        }
        .circle{
            width: 300px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: relative;
            
            background: conic-gradient(#75b2f0 0%, rgb(52, 120, 221) 40%, rgb(227, 236, 139) 40%, rgb(190, 201, 176) 60%, #a162e0 60%, #e660b9 100%);

            /* @media screen and (max-width:320px) {
                width: 150px;
                height: 150px;
            } */

            .uper{
                width: 285px;
                height: 285px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: #fff;
                z-index: 999;
                background-color: #010F1C;
                p{
                    font-size: 1.3rem;  
                    text-align: center;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                background-color: #fff;         
                color: black;
                 }

                 /* p:hover{
                    width: 200px;
                    transition-duration: 3s;
                    height: 200px;
                 } */
                .one{
                    display: none;
                }
                .two{
                    display: none;
                }
                .three{
                    display: none;
                }

                
            }

            .bahar{
                width: 300px;
                height: 300px;
                position: absolute;
                top: 0;
                left: 50%;
                /* animation: ghar 3s linear infinite;  */
                transform: translateX(-50%);
            }
        }
        button{
            padding: 10px 60px;
            font-size: 1.2rem;
            border: none;
            color: #fff;
            border-radius: 10px;
            background-color: blue;

        }

        button:hover{
            cursor: pointer;
            transition-duration: 2s;
            background-color: red;
            color: #fff;
        }
        
    }
}
.ghumo{
    animation: cir 10s linear  infinite  backwards;
}
.andar{
    animation: gir 10s linear  infinite  backwards;
}
@keyframes cir {
    0%{
        top: 0;
    }
    25%{
        transform: scale(1.3);
    }
    50%{
        transform: scale(1.3);
    }
    75%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.bahar::before{
    content: "";
    position: absolute;
    top: -30px;
    width: 17px; 
    left: 50%;
    height: 17px;
    border-radius: 50%;
    background-color: #fff;


}
@keyframes ghar {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}


@keyframes gir {
    0%{
        width: 100px;
        height:100px;
    }
    25%{
        width: 250px;
        height:250px;
    }
    50%{
        width: 250px;
        height:250px;
    }
    75%{
        width: 250px;
        height:250px;
    }
    100%{
        width: 100px;
        height:100px;
    }
}


#loading{
    height: 100vh;
    width: 100%;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    background: #53AEE1;
}

#loading h3 {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    position: relative;
    padding: 1vw 3vw;
}

#loading h3 span{
    color: rgba(0, 0, 0, 0.0);
    animation: lightmove 4s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes lightmove {
    0%{
        opacity: 0;
        color: rgba(0,0,0,0.0);
    }
    20%{
        opacity: 1;
        color: rgba(255, 255, 255, 0.8);
    }
    
    50%{
        opacity: 0;
        color: rgba(0,0,0,0.0);
    }
    100%{
        opacity: 0;
        color: rgba(0,0,0,0.0);
    }
}